.study{
    margin: 30px;
}
.content-wrapper{
    width: 100%;
    padding: 0px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.contents-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.content{

    border: gray solid 1px;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;

    cursor: pointer;
}

.categories{
    /*margin: 0;*/
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.category{
    background: darkred;
    color: white;
    font-size: 13px;

    text-align: center;

    margin-left: 8px;
    margin-right: 8px;
    padding: 8px;
    border-radius: 5px;

}
.study-content-title{
    padding-top: 5px;
    padding-left: 10px;
    font-size: 20px;
}