h1{
    margin: 11.5px 0;
}
.header-wrapper{
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    height: 70px;

    /*border-bottom: rgba(66,66,66,0.76) solid 1.5px;*/

    display: flex;
    align-items: end;

}
h1{cursor: pointer;}
.menu-buttons{
    margin-left: 100px;
    padding: 0;

    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu-select{
    padding: 5px;
    cursor: pointer;
    width: 80px;
    transition: 0.2s;
}
.menu-select:hover{
    color: darkgray;
}